// MAIN
$beryl-whiter: #FFF8E8;
$beryl-lighter: #FFEEC3;
$beryl-light: #FFDF8C;
$beryl-pure: #E39229;
$beryl-medium: #F0A841;

//NEUTRAL
$white: #FFFFFF;
$onyx-lighter: #D7D7D5;
$onyx-light: #B1B0AD;
$onyx-pure: #8A8984;
$onyx-pure-bis: #5F5E5A;
$onyx-medium: #504F4C;
$onyx-dark: #3D3C3A;
$onyx-darker: #2D2C2A;
$onyx-dark-bis: #252422;
$onyx-darker-ters: #1D1C1A;
$onyx-black: #191816;
$onyx-blacker: #151311;
$onyx-blacker-bis: #12110E;

//WHITE GLASS
$white-080: rgba(255, 255, 255, 0.8);
$white-072: rgba(255, 255, 255, 0.72);
$white-064: rgba(255, 255, 255, 0.64);
$white-056: rgba(255, 255, 255, 0.56);
$white-048: rgba(255, 255, 255, 0.48);
$white-040: rgba(255, 255, 255, 0.40);
$white-032: rgba(255, 255, 255, 0.32);
$white-024: rgba(255, 255, 255, 0.24);
$white-020: rgba(255, 255, 255, 0.20);
$white-016: rgba(255, 255, 255, 0.16);
$white-014: rgba(255, 255, 255, 0.14);
$white-012: rgba(255, 255, 255, 0.12);
$white-010: rgba(255, 255, 255, 0.10);
$white-008: rgba(255, 255, 255, 0.08);
$white-006: rgba(255, 255, 255, 0.06);
$white-004: rgba(255, 255, 255, 0.04);
$white-002: rgba(255, 255, 255, 0.02);
$white-001: rgba(255, 255, 255, 0.01);

//MAIN GLASS
$beryl-080: rgba(255, 208, 86, 0.8);
$beryl-072: rgba(255, 208, 86, 0.72);
$beryl-064: rgba(255, 208, 86, 0.64);
$beryl-056: rgba(255, 208, 86, 0.56);
$beryl-048: rgba(255, 208, 86, 0.48);
$beryl-040: rgba(255, 208, 86, 0.40);
$beryl-032: rgba(255, 208, 86, 0.32);
$beryl-024: rgba(255, 208, 86, 0.24);
$beryl-020: rgba(255, 208, 86, 0.20);
$beryl-016: rgba(255, 208, 86, 0.16);
$beryl-014: rgba(255, 208, 86, 0.14);
$beryl-012: rgba(255, 208, 86, 0.12);
$beryl-010: rgba(255, 208, 86, 0.10);
$beryl-008: rgba(255, 208, 86, 0.08);
$beryl-006: rgba(255, 208, 86, 0.06);
$beryl-004: rgba(255, 208, 86, 0.04);
$beryl-002: rgba(255, 208, 86, 0.02);

//ERROR
$carmel-pure: #FF7456;

//TYPO
$large: 20px;
$small: 12px;
$mini: 10px;
$micro: 8px;

/* Media Queries */
$sm: "(min-width: 576px)";
$md: "(min-width: 768px)";
$lg: "(min-width: 992px)";
$xl: "(min-width: 1200px)";
$xxl: "(min-width: 1400px)";