@use "./utils/variables" as *;

.Divider {
  border-radius: 1000px 1000px var(--FULL, 1000px) 1000px;
  border: 6px solid #151311;
  background: #151311;
  position: absolute;
  display: flex;
  align-items: flex-start;
  gap: 10px;
  bottom: 109px;
  left: calc(50% - 25px);
  z-index: 1;
  overflow: auto;
  background-color: #12110e;
  outline: none;

  &__imgWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    border-radius: 30px;
    background: $beryl-006;

    svg {
      width: 16px;
      height: 16px;
    }
  }

  &::before {
    content: "";
    display: block;
    border: 1px solid $white-002;
    border-bottom: none;
    position: absolute;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    top: -7px;
    left: -7px;
    width: 44px;
    height: 22px;
  }

  &::after {
    content: "";
    display: block;
    border: 1px solid $white-002;
    border-top: none;
    position: absolute;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    bottom: -7px;
    left: -7px;
    width: 44px;
    height: 22px;
  }

  &__Focus--top-focus::before {
    border-color: $white-008;
  }

  &__Focus--bottom-focus::after {
    border-color: $white-008;
  }

  &__Focus--bottom-success::after {
    border-color: #00ffa3;
  }

  &__Focus--bottom-error::after {
    border-color: #ff5c52;
  }
}