@use "./utils/variables" as *;

.SearchBar {
  cursor: pointer;
  display: flex;
  width: 280px;
  height: 40px;
  align-items: center;
  justify-content: space-between;
  border-radius: 40px;
  border: 1px solid $white-006;
  padding: 6px 12px;
  background-color: transparent;
  position: relative;
  overflow: hidden;

  &:hover {
    border: 1px solid $white-008;
  }

  &:focus-within {
    border: 1px solid $beryl-medium;
    box-shadow: 0px 0px 0px 4px rgba(255, 208, 86, 0.2);
  }

  &__Content {
    display: flex;
    align-items: center;
    gap: 6px;
    flex: 1;
    min-width: 0;
  }

  &__RightContent {
    display: flex;
    align-items: center;
    margin-left: 8px;
  }

  &__iconSearch {
    width: 20px;
    height: 20px;
    color: $white-040;
    cursor: pointer;
    flex-shrink: 0;
  }

  &__input {
    font-family: "TT Hoves", system-ui, sans-serif, system-ui, sans-serif;
    font-weight: 400;
    color: white;
    outline: none;
    border: none;
    background: none;
    caret-color: $beryl-pure;
    font-size: 18px;
    flex: 1;
    min-width: 0;
    width: 100%;
    padding-bottom: 2px;

    &::placeholder {
      color: $white-040;
      font-family: "TT Hoves", system-ui, sans-serif, system-ui, sans-serif;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 140%;
      letter-spacing: -0.038px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  &__iconSlash {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.12);
    color: rgba(255, 255, 255, 0.65);
    font-family: "TT Hoves", system-ui, sans-serif;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0.16px;
    opacity: 0.6;
    flex-shrink: 0;
    padding-bottom: 2px;
  }

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    padding: 2px;
    border-radius: 6px;
    background: $white-004;
    color: $onyx-medium;
    cursor: pointer;
    flex-shrink: 0;
  }

  &.expanded {
    width: 200px;
  }

  &__compact {
    width: 40px;
    padding: 6px;
  }
}

// Ajoutez à vos styles existants
.SearchBar__compact {
  display: flex;
  height: 6px;
  width: 18px;
  padding: 16px 10px;
  justify-content: center;
  align-items: center;
  gap: 16px; // taille initiale pour juste montrer l'icône
}