@use "../../utils" as *;

.link {
  font-family: "TT Hoves", system-ui, sans-serif, system-ui, sans-serif;
  font-weight: 500;
  font-style: normal;

  &__main {
    color: $beryl-pure;

    &:hover {
      color: $beryl-light;
    }

    &:focus-visible {
      border: 1px solid $beryl-pure;
      background: rgba(255, 255, 255, 0);
      box-shadow: 0px 0px 0px 4px rgba(255, 208, 86, 0.2);
    }

    &:active {
      color: $beryl-pure;
    }
  }

  &__white {
    color: $white;

    &:hover {
      color: $onyx-lighter;
    }

    &:focus-visible {
      color: $onyx-lighter;
      border: 1px solid $beryl-pure;
      background: rgba(255, 255, 255, 0);
      box-shadow: 0px 0px 0px 4px rgba(255, 208, 86, 0.2);
    }

    &:active {
      color: $white;
    }
  }

  &__gray {
    color: $onyx-pure;

    &:hover {
      color: $onyx-lighter;
    }

    &:focus-visible {
      color: $onyx-light;
      border: 1px solid $beryl-pure;
      background: rgba(255, 255, 255, 0);
      box-shadow: 0px 0px 0px 4px rgba(255, 208, 86, 0.2);
    }

    &:active {
      color: $onyx-lighter;
    }
  }

  &__main,
  &__gray,
  &__white {
    background: none;
    border: solid 1px transparent;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;

    &--disabled {
      color: $onyx-dark;

      &:focus {
        border: none;
        box-shadow: none;
      }

      &:active {
        color: $onyx-dark;
      }

      &:hover {
        color: $onyx-dark;
      }
    }
  }

  &.dots {
    padding: 0;
  }

  &--large,
  &--medium,
  &--small,
  &--xsmall {
    outline: none;
    margin: 0;
  }

  &--large {
    font-size: 18px;
    line-height: 28.8px;
    letter-spacing: 0.36px;
    padding: 1px 6px 2px 6px;
    border-radius: 8px;
  }

  &--medium {
    font-size: 16px;
    line-height: 25.6px;
    padding: 1px 6px 2px 6px;
    border-radius: 6px;
  }

  &--small {
    padding: 0.75px 6px 0px 6px;
    border-radius: 4px;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: -0.034px;
  }

  &--xsmall {
    font-size: 10px;
    line-height: 16px;
    padding: 0px 4px 1px 4px;
    border-radius: 4px;
  }
}